h1 {
    color: #999;
    font-weight: 200;
    padding: 10px 20px;
    margin: auto;
}

.row {
    display: flex;
    min-height: 60px;
    width: 100%;
    text-align: center;
}

.jumbotron {
    display: flex;
    height: 120px;
    font-size: 100;
    width: 100%;
}

